@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply font-Roboto
    }

    select, option, input {
        @apply appearance-none
    }
}